/* Sirve para el login y registrar */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
}

.contenedor{
    background-color: rgb(70,70,70);
    color: white;
    text-align: center;
    max-width: 450px;
    padding: 20px;
    margin: 18vh auto;
    border-radius: 4pt;
}

.contenedor h4{
    font-size: 30px;
    margin-bottom: 15px;
}

form{
    width: 75%;
    margin: auto;
}

label, input, span{
    display: block;
    text-align: left;
    width: 94%;
    margin-bottom: 15px;
    font-size: 17px;
}

.error, .exito{
    display: block;
    text-align: center;
    width: 94%;
    margin-bottom: 15px;
    font-size: 17px;
    border-radius: 4pt;
    padding: 10px;
}

.error {
    background-color: rgba(199, 49, 49, 0.411);
}

.exito{
    background-color: rgba(40, 165, 40, 0.525);
}


input{
    padding: 10px;
    border: none;
    border-radius: 4pt;
}

.submit{
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
    width: 100%;
}

a{
    font-weight: bold;
    color: whitesmoke;
}

input:focus{
    outline: none;
}

.submit:hover {
    background-color: white;
    cursor: pointer;
}