/* Sirve para el login y registrar */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu Sans", sans-serif;
}

.contenedor{
    background-color: rgb(250, 250, 250);
    border: 1px solid #dadfe9;
    text-align: center;
    max-width: 500px;
    padding: 20px;
    margin: 20vh auto;
    border-radius: 4pt;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
}

.contenedor h4{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.contenedor form{
    width: 75%;
    margin: auto;
}

.contenedor hr{
    height: 0.5px;
    background-color: #dadfe9;
    border: none;
}

.contenedor .icon{
    width: 25px;
    padding: 3px;
    margin-right: 5px;
}

.contenedor label, input, textarea{
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 17px;
    transition: 500ms;
}

.contenedor input{
    padding: 10px;
    border: 1px solid #dadfe9;
    border-radius: 4pt;
}

.bigtext{
    padding: 10px;
    border: 1px solid #dadfe9;
    border-radius: 4pt;
    height: 10vh;
}

.contenedor .submit{
    text-align: center;
    font-weight: bold;
    background-color: #2a2d54d8;
    color: rgb(250, 250, 250);
}

.contenedor a{
    font-weight: bold;
    color: #2a2d54d8;
    font-size: 17px;
    transition: 500ms;
}

.contenedor input:focus, .contenedor .bigtext:focus{
    outline: none;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
}

.submit:hover {
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.4);
    background-color: #394166d8;
    color: white;
    cursor: pointer;
}

.contenedor a:hover{
    font-size: 19px;
    color: #394166d8;
    text-decoration: none;
}

.error, .exito{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    font-size: 17px;
    border-radius: 4pt;
    padding: 10px;
}

.error {
    background-color: rgba(199, 49, 49, 0.411);
}

.exito{
    background-color: rgba(40, 165, 40, 0.525);
}

@media (max-width: 730px) {
    .contenedor{
        max-width: 400px;
    }
}

@media (max-width: 530px) {
    .contenedor{
        max-width: 300px;
    }
}